a.nav-link.active {
 background-color: rgb(171, 171, 245);
 color: white;
}

thead {
  background-color: rgb(68, 66, 194);
  color: white;
}

.card-header {
  background-color: rgb(68, 66, 194);
  color: white;
}

.card-body {
  background-color: rgb(208, 209, 231);
  color: white;
} 

